<section>
  <h1>Shopping List</h1>
  <form class="cadastroReceita">  
    <div>
      <!-- <label for="example-text-input" class="col-xs-2 col-form-label">Nome da Receita</label>
      <div class="col-xs-10"> -->
      <label>Nome da Receita</label>
      <div>
        <!-- <input class="form-control" type="text" value="Bolo Chocolate" id="example-text-input"> -->
        <input class="form-control" type="text" value="Bolo Chocolate">
      </div>
    </div>

    <div>
      <label>Categoria</label>
      <select class="form-control">
        <option>Prato Principal</option>
        <option>Sobremesa</option>
        <option>Saladas</option>
      </select>
    </div>
    <div>
        <!-- <label for="example-number-input" class="col-xs-2 col-form-label">Tempo(min)</label>
        <div class="col-xs-10"> -->
      <label>Tempo(min)</label>
      <div>
        <!-- <input class="form-control" type="number" value="42" id="example-number-input"> -->
        <input class="form-control" type="number">
      </div>
    </div>

      <app-cadastro-ingrediente></app-cadastro-ingrediente>
   
    <button class="btn btn-secondary" type="button">Salvar</button>
    <button class="btn btn-secondary" type="button">Cancelar</button>
  </form>
</section>